
* {
  /*outline: 1px solid red;*/
}
.circle-sketch-highlight{
  position:relative;
  left:0;
  font-family: Libre Franklin;
  font-size: 32px;
  font-weight: 500;
}
.circle-sketch-highlight:before{
  content:"";
  z-index:-1;
  left: -0.91em;
  top:-0.421em;
  border-width:3px;
  border-style:solid;
  border-color:#557fda;
  position:absolute;
  border-right-color:transparent;
  width:150%;
  height:2em;
  transform:rotate(2deg);
  opacity:0.7;
  border-radius:50%;
  padding:0.1em 0.25em;
}
.circle-sketch-highlight:after{
  content:"";
  z-index:-1;
  left:-1.063em;
  top:0.07em;
  padding:0.1em 0.25em;
  border-width:3px;
  border-style:solid;
  border-color:#557fda;
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:150%;
  height:1.1em;
  transform:rotate(-2deg);
  opacity:0.7;
  border-radius:50%;
}
.nodecor{
  text-decoration: none;
  color:inherit;
}
html {
    scroll-behavior: smooth;
    
    overflow:auto;
  }
  /* Fonts*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    line-height: 1.2;
  }
  *, ::after, ::before {
    box-sizing: border-box;
    
}
#me{
    width:30rem;
    
}

@media only screen and (min-width: 1300px) {
  .full-height {
    height: 100vh;
  }
}

  /* Header */
header{
    height:100%;
    background: #C4CAD0;
    color:black;
}
.nav-link{
  color:black;
}
#logo{
  width:80px;
  height: auto;
}
.description{
  max-width:80%
}

.hidden {
  visibility: hidden;
}
 
  /*Site name decorator*/

.site-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 3rem;
    text-decoration: none;
  }
  /**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
  .section {
    scroll-margin-top: 2rem;
  }

  /* Masonary grid for portfolio */
.grid:after {
    content: '';
    display: block;
    clear: both;
    background-color: green;
  }
  /* underline marker*/
  .marker-center:after {
    bottom: -30px;
    left: 50%;
    margin-left: -60px;
}
.container {
    display: flex;
  }
  .servicelogo {
    width: 25%;
    height: auto;
    text-align: center;
    transition-timing-function: ease-in-out;
  }
  .servicelogo video:hover{
    transform: scale(1.05);
    
  }

  .darkmode {
    position: relative;
  }
  
  #day, #night {
  position: absolute;
  left: 0;
  top: -8px;
  left: 0;
  width: 100%;
  height: 100%;
  }
.bg-dark{
  color:white;
  background-color:#434c55 !important

}
.bg-dark .card{
  border:solid white
}
 

#portfolio img:hover{

  transform: scale(1.3) 

}
 
 
 

